.auth-menu_list {
  display: flex;
  justify-content: space-between;
}

.auth-menu_item:not(:last-child) {
  margin-right: 25px;
}

.auth-menu_link {
  font-size: 1.25rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &--active {
    color: #f1392d;
  }

  &:focus,
  &:hover {
    outline: none;
    color: #f1392d;
    transition: all 350ms;
  }
}
