.navigation_list {
  display: flex;
  justify-content: space-between;
}

.navigation_item:not(:last-child) {
  margin-right: 50px;
}

.navigation_link {
  font-size: 1.25rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  &--active {
    color: #f1392d;
  }

  &:focus,
  &:hover {
    outline: none;
    color: #f1392d;
    transition: all 350ms;
  }
}
